@import "../../global.scss";

.intro {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    .right {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #222;
        color: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wrapper {
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

           

            h1 {
                font-size: 60px;
                margin: 10px 0;
    
            }

            h2 {
                font-size: 36px;
            }
            h3 {
                font-size: 30px;

                span {
                    font-size: inherit;
                    color: rgba(19, 182, 223, 0.623);
                    @include mobile {
                        font-size: 28px;
                    }
                   
                }
                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }
            }
        }
        .anchor {
            position: absolute;
            bottom: 10px;
            left: 50%;
            color: #fff;

            @include mobile {
                left: 45%;
            }
           

            .react-icons {
                font-size: 40px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }
    }
}
